<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="we are penguins!">
    <meta property="og:image" content="https://user-images.githubusercontent.com/89088205/147902985-b7066e81-2280-4f3e-82f4-e37ad8ab19ef.jpg">
    <meta property="og:description" content="크리스마스에 어떤 장식을 할지 고민이시라구요? 여기로 들어오세요!">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link rel="shortcut icon" href="../static/img/favi.png">

    <title>:: Untitled Christmas ::</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>


    <!-- js 파일들, 안쓰는걸 주석처리 -->
    
    <!-- <script src="../static/js/modal.js" defer></script> -->
    <script src="../static/js/move.js"></script>

    <!-- css 파일들, 안쓰는걸 주석처리 -->    

<!--    <link rel="stylesheet" type="text/css" href="../static/css/Create.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/loading.css"> -->
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">

    <!-- 폰트랑 아이콘 -->
    
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
          rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          rel="stylesheet"/>


</head>

<body class="overflow-x-hidden bg-blue-200">

<main>

<div class="flex h-screen bg-cover login">
<div class="container flex items-center justify-center flex-1 h-full mx-auto">
    <div class="w-full max-w-lg">
      <div class="leading-loose">
        <form class="p-10 m-4 bg-white rounded shadow-xl max-w-40 bg-opacity-40">
            <p class="text-3xl font-medium font-bold text-center text-white shadowFont">환영합니다!</p>
              <div class="">
                <label class="block text-sm text-white shadowFont" for="id">E-mail</label>
                <input id='id-input' class="w-full px-5 py-1 text-gray-700 bg-blue-200 rounded bg-opacity-60 focus:outline-none focus:bg-blue-100" type="id"  placeholder="아이디를 입력하세요" aria-label="id" required>
              </div>
              <div class="mt-2">
                <label class="block text-sm text-white shadowFont">비밀번호</label>
                 <input id='pw-input' class="w-full px-5 py-1 text-gray-700 bg-blue-200 rounded bg-opacity-60 focus:outline-none focus:bg-blue-100"
                  type="password" placeholder="비밀번호를 입력하세요" arial-label="password" required>
              </div>

              <div class="flex items-center justify-between mt-4">
                <button class="left-0 inline-block font-bold text-white align-baseline text-md hover:text-blue-500 shadowFont"
                  onclick="">아이디가 없나요?</button>
              <button class="px-4 py-1 text-xl font-bold tracking-wider text-white uppercase bg-blue-400 border-4 border-white border-dashed rounded-md hover:bg-blue-700 shadowFont" type="button" onclick="">Login</button>
                                
              </div>
              <div class="text-center">
                <a href="https://spartacodingclub.kr/" class="right-0 inline-block mt-10 text-sm font-light text-blue-600 align-baseline hover:text-blue-400">
                    sponsored by sparta
                </a>
                <button class="px-4 py-1 text-sm tracking-wider text-white uppercase rounded-md hover:bg-blue-700 shadowFont" type="button" onclick="">몰래보기</button>   
              </div>

        </form>

      </div>
    </div>
  </div>
</div>


    <!-- footer -->
</main>

</body>
</html>